# Compiled source files
*.o
*.obj
*.so
*.dll
*.exe
*.out

# IDE settings
/.vscode/
/.idea/

# Logs
*.log
*.txt

# Compdb
/compile_commands.json

# R
*.Rproj.user
*.Rhistory
*.RData
*.RDataTemp
*.Ruserdata
*.Rproj
*.Rproj.user
*.nb.html

# Latex compiler
*.aux
*.bbl
*.blg
*.synctex.gz
*.toc
*.pdf
*.nav
*.snm

# python
*.pkl

/figure/MC/